* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 20%;
    left: 20%;
    /* transform: translate(-50%, -50%); */
}

body {
    background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#logotrainee {
    width: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

#logo {
    width: 150px;
    margin-bottom: 20px;
}

#avatar {

    width: 180px;
    height: 220px;
    border-radius: 0%;
    border-style: solid;
    border-color: #6a78c3;
    border-width: 5px;
    margin-bottom: 20px;
}

#ribon {
    width: 500px;
    margin-bottom: 30px;
}

.highlights {
    margin-left: 43px;
}

.left-column {
    width: 300px;
    display: flex;
    flex-direction: column;

    padding-right: 30px;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 470px;
    margin-left: 30px;
}

.card {
    background: rgba(255, 255, 255, 0.3);
    background-image: url(background.png);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 800px;
    height: 500px;
    padding: 35px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.cardtitle {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(26, 231, 26);
    stroke: rgb(0, 0, 0);
    stroke-width: 5px;
    margin-bottom: 10px;
}

.name {
    font-size: 20px;
    color: black;
}

.year {
    font-size: 20px;
    color: black;
}

.barcode {
    margin-top: 20px;
    margin-left: 250px;
    stroke-opacity: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    color: black;
}

p {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 15px;
}

a {
    color: black;
    font-size: 28px;
}

.section {
    margin-bottom: 20px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}